*,
::before::after {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: rgb(135, 151, 186);
}
nav {
    margin: 0;
    padding-top: 8rem;
}
h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}
.area-suma {
    height: 3rem;
}
.check {
    height: 3rem;
}
.equis {
    height: 2.5rem;
    padding-left: 1rem;
}
.check2 {
    height: 3.2rem;
    padding-right: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}
#contenedor {
    color: aliceblue;
    background-color: rgb(60, 90, 117);
    border-radius: 0.5rem;
    border-style: solid;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    height: 17rem;
}
h2 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    word-spacing: normal;
}
.lista1 {
    padding-right: 6.4rem;
    padding-left: 1rem;
    word-break: normal;
}
.lista2 {
    word-break: normal;
}
#listado1 {
    display: flex;
    align-items: center;
    margin: 0;
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
    height: 5rem;
    padding: 0;
}
#listado2 {
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 0.2rem solid;
    height: 5rem;
    gap: 1rem;
    padding: 0;
}
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.1rem;
    margin: 0;
    height: 5rem;
}
button {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(14, 154, 154);
}
.boton1 {
    width: 4rem;
}
.boton2 {
    width: 6rem;
}
.boton3 {
    width: 8rem;
}
#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 5rem;
    gap: 1rem;
    border-top: 0.1rem solid;
}
h3 {
    margin: 0;
    color: aliceblue;
    font-size: 1rem;
}
input {
    border: none;
    border-radius: 0.5rem;
    width: 78%;
    height: 3rem;
}
@media (min-width: 570px) {
    nav {
        padding-top: 6rem;
    }
    h1 {
        font-size: 5.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    #listado1 {
        height: 4rem;
    }
    #listado2 {
        height: 4rem;
    }
    form {
        height: 4rem;
    }
    #botones {
        height: 4rem;
    }
    .area-suma {
        height: 3rem;
    }
    .check {
        height: 3rem;
    }
    .check2 {
        height: 3rem;
    }
    button {
        height: 3rem;
        border: none;
        border-radius: 0.7rem;
    }
    .lista1 {
        padding-right: 8.4rem;
        padding-left: 1rem;
    }
    ul {
        overflow: auto;
        height: 17rem;
    }
}